<!DOCTYPE html>

<html lang="fr">
<head>
    <%- include("partial_header.ejs"); %>
    <title>Ordo130</title>
    <link rel="stylesheet" href="/static/css/index.css">

</head>

<body class="CaviarDreams">
    <%- include("header.ejs"); %>

    <div class="container">

        <h2 class="mt-3 fs-1 CaviarDreamsBold text-center f-blue2 border-bottom">Notre équipe</h2>

        <ul class="list-group container mt-4 pt-4 pb-4">
            <li class="list-group-item fs-4 text-center "> Une équipe réunie autour d'un seul et même objectif : faciliter le quotidien des professionnels de santé
            et des patients tout en réduisant au maximum l'impact environnemental que peut avoir ce type de projet.</li>
        </ul>

        <div class="container mb-4 pb-4">

            <div class="row">

                <div class="card border col mt-2" >

                    <img src="/static/img/Amelie.jpeg" class="mt-2 rounded-circle">

                    <div class="card-body">

                        <p class="card-text text-center fs-4">Amélie Senaux</p>

                    </div>

                </div>

                <div class="card border col mt-2 ms-3">
                    <img src="/static/img/Astryd.jpeg" class="mt-2 rounded-circle">

                    <div class="card-body">

                        <p class="card-text text-center fs-4">Astryd Casimir</p>

                    </div>

                </div>

                <div class="card border col mt-2 ms-3">

                    <img src="/static/img/Anto.jpeg" class="mt-2 rounded-circle">

                    <div class="card-body">

                        <p class="card-text text-center fs-4">Antonin Lampin</p>

                    </div>

                </div>

                <div class="card border col mt-2 ms-3">

                    <img src="/static/img/justine.jpeg" class="mt-2 rounded-circle">

                    <div class="card-body">

                        <p class="card-text text-center fs-4"> Justine Boillot</p>

                    </div>

                </div>

                <div class="card border col mt-2 ms-3">

                    <img src="/static/img/Chloe.jpeg" class="mt-2 rounded-circle">

                    <div class="card-body">

                        <p class="card-text text-center fs-4">Chloé Rolland</p>

                    </div>

                </div>

            </div>

</div>
</div>

    <div class="bg-blue2 mt-4 pb-4">

        <h1 class="container mt-3 pt-3 mb-5 fs-1 CaviarDreamsBold text-center f-white border-bottom">Nos engagements</h1>

        <ul class="list-group container pb-4">
            <div class="rounded-ul-top">
                <li class="list-group-item fs-4"> <img src="/static/img/leaf-svgrepo-com%20copie.svg" width="3%"> Utilisation d'éco-server pour stocker les données utilisées.
                    Pas de stockage de données inutiles. </li>
            </div>
            <div>
                <li class="list-group-item fs-4"> <img src="/static/img/leaf-svgrepo-com%20copie.svg" width="3%"> Réduction des émissions de CO2 grâce à une réduction des impressions
                des ordonnances.</li>
            </div>
            <div>
                <li class="list-group-item fs-4"> <img src="/static/img/connections-svgrepo-com.svg" width="3%"> Embauche de personnes en réinsertion sociale, personnes porteuses de Handicaps. </li>
            </div>
            <div class="rounded-ul-bottom">
                <li class="list-group-item fs-4"> <img src="/static/img/connections-svgrepo-com.svg" width="3%"> Vigilance accrue sur le bien-être des salariés que ce soit leur santé mentale ou physique. </li>
            </div>

        </ul>


    </div>

    <%- include("footer.ejs"); %>
</body>