<footer
    class="bg-blue4 navbar navbar-expand flex-column flex-md-row justify-content-between align-items-center position-sticky p-4 CaviarDreamsBold">
    <p class="col-md-4 mb-md-0 f-white-green"> Copyright © 2022 Ordo130. <br> Tous droits réservés.</p>

    <a class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none"
        href="/">
        <img src="/static/img/logo/HelloDoc Blue-02.PNG" alt="illustration" id="footer-logo">
    </a>

    <ul class="nav col-md-4 justify-content-end">
        <li class="nav-item"><a class="nav-link px-2 f-white-green link-turquoise" href="/footer/contact">Contact</a>
        </li>
        <li class="nav-item"><a class="nav-link px-2 f-white-green link-turquoise" href="">Mentions Légales</a></li>
        <li class="nav-item"><a class="nav-link px-2 f-white-green link-turquoise" href="/footer/faq">FAQ</a></li>
        <li class="nav-item"><a class="nav-link px-2 f-white-green link-turquoise" href="/footer/faq">Plan du site</a>
        </li>
    </ul>
</footer>