<header class="navbar navbar-expand flex-column flex-md-row justify-content-md-between bd-navbar position-sticky t-0 bg-blue1 CaviarDreamsBold text-white">

    <!-- LOGO -->
    <div>
        <a class="ms-3" href="/patient">
            <img src="/static/img/logo/HelloDoc Blue-05.PNG" alt="illustration" id="header-logo">
        </a>
    </div>

    <!-- ACCOUNT -->
    <div class="me-3 d-flex flex-row align-items-center">
        <div class="me-2">
            <img id="icon2" src="/static/img/utilisateur.png">
            <%= patient.prenom_pat %>
        </div>
        <ul class="navbar-nav ms-2">
            <li class="nav-item">
                <a class="nav-link f-turquoise link-turquoise btn btn-outline-light" href="/connexion/Deconnexion">Déconnexion</a>
            </li>
        </ul>
    </div>

</header>