<header
    class="navbar navbar-expand flex-column flex-md-row justify-content-md-between bd-navbar position-sticky t-0 bg-blue1 CaviarDreamsBold text-white">

    <!-- LOGO -->
    <div class="d-flex align-items-center">
        <a class="ms-3" href="/">
            <img src="/static/img/logo/HelloDoc Blue-05.PNG" alt="illustration" id="header-logo">
        </a>
        <div class="me-3">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link f-white link-white btn btn-outline-success align-items-center" href="../">
                        <img id="icon" src="/static/img/retour.png">
                        Retour
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <!-- ACCOUNT -->
    <div class="me-3">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link f-turquoise link-turquoise btn btn-outline-light"
                    href="/connexion/Deconnexion">Déconnexion</a>
            </li>
        </ul>
    </div>

</header>